@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap");

$white: #ffffff;

@font-face {
	font-family: "FlutterwaveRegular";
	src: local("FlutterwaveRegular"),
		url("../fonts/FLW-Regular.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: "FlutterwaveBold";
	src: local("FlutterwaveBold"),
		url("../fonts/FLW-Bold.ttf") format("truetype");
	font-weight: normal;
}

// #wpbody-content {
// 	height: 100%;
// 	background-color: $white;
// }
@media screen and (min-width: 768px) {
	.flutterwave-container {
		text-align: center;
	}

	.flutterwave-body {
		text-align: left;
	}

	.flutterwave-h {
		font-family: "Inter";
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;
	}

	.flutterwave-p {
		font-family: "Inter";
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: -0.2px;
	}

	.flutterwave-infobox {
		margin-top: 48px;
		width: 414px;
		height: 96px;
		// background-color: blue;
	}

	.flutterwave-infotitle {
		margin-bottom: 8px;
		font-family: "Inter";
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		/* identical to box height */

		letter-spacing: 0.0024px;
	}

	.flutterwave-infotext {
		font-family: "Inter";
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: -0.2px;
	}

	.flutterwave-paymentmethod {
		background-color: $white;
		border-radius: 5px;
		padding: 10px;
		margin-bottom: 16.99px;
		margin-right: 21.28px;
		display: flex;
		flex-direction: row;
		width: 119.13px;
		height: 64.26px;
		filter: drop-shadow(0px 1.44402px 10.8301px rgba(0, 0, 0, 0.1));
	}

	.flutterwave-pm-label {
		width: 100%;
		height: 16px;
		font-family: Inter;
		font-style: normal;
		font-weight: 600;
		font-size: 13.8816px;
		line-height: 17px;
		/* identical to box height */

		letter-spacing: 0.00237969px;

		color: #000000;
	}

	.woo_flw_header {
		padding: 2em;
		display: flex;
		flex-direction: row;
	}

	.woo_flw_heading {
		font-family: "Inter";
		font-style: normal;
		font-weight: 300;
		font-size: 15px;
	}

	// .woo_flutterwave_barter_logo {
	// 	width: 20px;
	// 	height: 20.4px;
	// 	padding-left: 20px;
	// }

	.flw_bold {
		font-family: "Inter";
		font-weight: 300;
	}

	.flw_regular {
		font-family: "Inter";
		font-weight: 300;
	}

	.flw-woo-settings-page {
		display: inline-flex;
		flex-direction: row;
		font-family: "Inter";
		font-weight: 300;
	}

	.flw_container {
		padding: 2em;
		background-color: $white;
		display: flex;
		flex-direction: column;
	}

	.flw-row {
		display: inline-flex;
		flex-direction: row;
		column-gap: 26em;
		margin-bottom: 1em;
		align-content: stretch;
	}

	input {
		border-color: #e0e0e0;
		border-radius: 4px;
	}

	.settingItem {
		display: flex;
		flex-direction: column;
	}

	.lb {
		margin-bottom: 0.5em;
		font-size: 16px;
	}

	.wb-lb {
		// margin-bottom: 0.3em;
		font-size: 16px;
	}

	.cb {
		display: flex;
		align-items: center;
	}

	.hookInstruct {
		font-size: 12px;
		bottom: 0;
	}
	.hookURL {
		background-color: #feeced;
		color: #fe352f;
		// padding-left: 10px;
		// padding-right: 19px;
		padding-top: 5px;
		padding-bottom: 5px;
		border-radius: 4px;
		margin-top: auto;
		text-align: center;
		vertical-align: center;
		font-style: italic;
	}

	.refLink {
		color: #576ae6;
	}

	.cta {
		margin-top: 12em;
		display: inline-flex;
		flex-direction: row;
		justify-content: flex-end;
		column-gap: 16px;
	}

	// PLAN STYle
	.no-plan-text {
		font-size: 36px;
		font-family: "Inter";
		font-weight: 600;
		line-height: 43.57px;
		display: inline-block;
	}

	span.planheading {
		display: inline-block;
	}

	.TabOptions {
		margin-right: 1px;
		transition: all 0.3s ease-in-out;
		cursor: pointer;
	}

	button.TabOptions {
		border: none;
		background-color: #ffffff;
	}

	.flw-tab-container {
		margin-top: 2em;
	}

	.tabText {
		font-family: "Inter";
		font-size: 16px;
		font-style: normal;
		font-weight: 300;
		line-height: 19px;
		letter-spacing: 0px;
		text-align: left;
		padding-top: 1.5em;
		padding-right: 1.5em;
		padding-left: 1.5em;
	}

	.activeTab {
		color: #f5a623;
		font-weight: 500;
		border-bottom-color: #f5a623;
	}

	.flw-tb-heading {
		margin-left: 1.5em;
		margin-top: 1em;
		width: 1152px;
		left: 203px;
		top: 112px;
		border-radius: 0px;
		padding: 16px 16px;
		justify-content: space-between;
		// typo
		font-family: "Inter";
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 17px;
		letter-spacing: 0.002400000113993883px;
		text-align: left;
	}

	.flw-tb-data {
		margin-left: 1.5em;
		width: 1152px;
		left: 203px;
		top: 112px;
		border-radius: 0px;
		padding: 16px 16px;
		justify-content: space-between;
		// typo
		font-family: "Inter";
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: 17px;
		letter-spacing: 0px;
		text-align: left;
	}
}
